<h1>Here are all the cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail.id)  %>
    </li>


  <% end %>
</ul>

<%= link_to 'New Cocktail', new_cocktail_path %>
